<div class="container">
    <div>
        {{ vehicle | json }}
    </div>
    <button class="btn btn-primary mt-2 mb-2" [routerLink]="['/vehicles']">Back to Vehicle list</button>
    <h1>Create New Vehicle</h1>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="make">
                <h5>Make</h5>
            </label>
            <select class="form-control" id="make" name="makeId" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" required #make="ngModel">
                <option value=""></option>
                <option *ngFor="let make of makes" value="{{make.id}}">{{make.name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please select Make!</div>
        </div>
        <div class="form-group">
            <label for="model">
                <h5>Model</h5>
            </label>
            <select class="form-control" id="model" name="modelId" [(ngModel)]="vehicle.modelId" required #model="ngModel">
                <option value=""></option>
                <option *ngFor="let model of models" value="{{model.id}}">{{model.name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please select Model!</div>
        </div>
        <h2>Features</h2>
        <div *ngFor="let feature of features" class="checkbox">
            <label for="feature{{feature.id}}" >
                <input type="checkbox" id="feature{{feature.id}}" (change)="onFeatureToggle(feature.id, $event)" [checked]="vehicle.features.includes(feature.id)">
                {{feature.name}}
            </label>
        </div>
        <h3>Is this vehicle registered?</h3>
        <div class="radio">
            <label for="registered" class="radio-inline">
                <input type="radio" name="isRegistered" [value]="true" id="registered" [(ngModel)]="vehicle.isRegistered" required>Yes
            </label>
            <label for="registered" class="radio-inline">
                <input type="radio" name="isRegistered" [value]="false" id="notRegistered" [(ngModel)]="vehicle.isRegistered" required>No
            </label>
        </div>
        <div class="form-group">
            <label for="contact">
                <h2>Contact</h2>
            </label>
            <select class="form-control" id="contact" name="contactId" [(ngModel)]="vehicle.contactId" required #contact="ngModel">
                <option value=""></option>
                <option *ngFor="let contact of contacts" value="{{contact.id}}">
                    {{contact.name}} | {{contact.phone}} | {{contact.email}}
                </option>
            </select>
            <div class="alert alert-danger" *ngIf="contact.touched && !contact.valid">Please select Contact</div>
        </div>
        <button class="btn btn-primary mr-2" type="submit" [disabled]="!form.valid">Save</button>
        <button *ngIf="vehicle.id" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
    </form>
</div>